<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- Mirrored from docs.typo3.org/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Feb 2021 11:09:33 GMT -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="Welcome!" name="docsearch:name"/>
    <meta content="" name="docsearch:package_type"/>
    <meta content="master" name="docsearch:release"/>
    <meta content="2.0" name="docsearch:version"/>
    <meta content="2020-10-30T07:03:47+00:00" name="docsearch:modified"/>
    <link href="http://purl.org/dc/elements/1.1/" rel="schema.dc"/>
    <meta content="2020-10-30T07:03:47+00:00" name="dc.modified"/>
    <meta content="2020-10-30T07:03:47+00:00" property="article:modified_time"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/css/theme.css" rel="stylesheet" type="text/css"/>
    <link href="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/css/webfonts.css" rel="stylesheet" type="text/css"/>
    <link href="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/css/fontawesome.css" rel="stylesheet" type="text/css"/>
    <link href="_static/graphviz.css" rel="stylesheet" type="text/css"/>
    <!-- linktags -->
    {% block link_tags %}
        {% include 'partial/base/linktags.html.twig' %}
    {% endblock %}
    <!-- /linktags -->
    <!-- extrahead --><!-- /extrahead -->
    <script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/modernizr.min.js"></script>
    <!-- UNIVERSE BAR START -->
    <script src="https://typo3.azureedge.net/typo3infrastructure/universe/dist/webcomponents-loader.js"></script>
    <script src="https://typo3.azureedge.net/typo3infrastructure/universe/dist/typo3-universe.js" type="module"></script>
    <!-- UNIVERSE BAR END -->
</head>
<body>
<div class="page">
    {% block topbar %}
        {% include 'partial/base/topbar.html.twig' %}
    {% endblock %}

    {% block page_header %}
        {% include 'partial/base/page_header.html.twig' %}
    {% endblock %}

    <div class="page-main">
        <div class="page-main-inner">
            {% block navigation %}
                {% include 'partial/page_main/navigation.html.twig' %}
            {% endblock %}

            <div class="page-main-content">
                <div class="rst-content">
                    {% block pager_hidden %}
                        {% include 'partial/base/pager_hidden.html.twig' %}
                    {% endblock %}

                    {% block page_breadcrumbs %}
                        {% include 'partial/base/breadcrumbs.html.twig' %}
                    {% endblock %}

                    {% block page_content %}{% endblock %}

                    {#TODO: Implement paginator#}
                </div>
            </div>
        </div>
    </div>

    <div class="page-footer">
        <!-- footer.html -->
        <footer>
            <div class="frame frame-ruler-before frame-background-dark">
                <div class="frame-container">
                    <div class="frame-inner">
                        <ul class="footer-simplemenu"><li><a href="https://typo3.org/community/teams/documentation/#c9886" title="Contact"><span>Contact</span></a></li>
                            <li><a href="https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage/issues" rel="nofollow noopener" title="Issues"><span>Issues</span></a></li>
                            <li><a href="https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage" rel="nofollow noopener" title="Repository"><span>Repository</span></a></li>
                        </ul>
                        <div class="footer-additional">
                            <p class="text-center">
                                Last updated: <a href="https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage/commit/4595662881f3eda2f480dbbf99565bd495cf833f" rel="nofollow noopener" target="_blank" title="Last commit">
                                    Oct 30, 2020 07:03
                                </a>
                            </p>
                            <p class="text-center">Last rendered: Jan 22, 2021 09:03</p>
                            <p class="text-center">
                                <a href="https://github.com/TYPO3-Documentation/sphinx_typo3_theme" rel="nofollow noopener" target="_blank">
                                    TYPO3 Theme 4.4.3
                                </a>
                            </p>
                        </div>
                        <div class="footer-meta">
                            <div class="footer-meta-copyright">
                                © Copyright since ever by the TYPO3 Documentation Team
                            </div>
                            <ul class="footer-meta-navigation">
                                <li><a href="https://typo3.org/legal-notice" rel="nofollow" target="_blank" title="Legal Notice">Legal Notice</a></li>
                                <li><a href="https://typo3.org/privacy-policy" rel="nofollow" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /footer.html -->
    </div>
</div>
<script type="text/javascript">
    var DOCUMENTATION_OPTIONS = {
        URL_ROOT: './',
        VERSION: 'master',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE: true
    };
</script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/jquery.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/underscore.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/doctools.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/popper.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/theme.min.js" type="text/javascript"></script>
<script src="_static/language_data.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/searchtools.min.js" type="text/javascript"></script>
<script src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.4.3/js/autocomplete.min.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function() { Search.loadIndex("searchindex.js"); });
</script>
<script id="searchindexloader" type="text/javascript"></script>
<!-- scripts2 --><!-- /scripts2 -->
<!-- footer2 --><!-- /footer2 -->
<script id="R9wBKTwzv" src="https://app.usercentrics.eu/latest/main.js" type="application/javascript"></script>
<script data-usercentrics="Matomo" src="js/piwik.js" type="text/plain"></script>
</body>

<!-- Mirrored from docs.typo3.org/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Feb 2021 11:10:36 GMT -->
</html>
